<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Semaforo API</title>
  <style>
    .content {
      display: inline-flex;
      flex-direction: column;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    .message {
      font-weight: bold;
      white-space: pre-line;
    }

    .error {
      color: brown;
    }
  </style>
</head>

<body>
  <div class="content">
    <div class="buttons">
      <button id="getTokenBtn" type="button">Get token</button>
      <span id="loadingTxt">Loading Google API...</span>
      <button id="copyTokenBtn" type="button">Copy token</button>
    </div>
    <div class="text">
      <textarea readonly id="tokenTxt" rows="25" cols="80"></textarea>
      <p class="message" id="messageTxt"></p>
      <p class="error message" id="errorTxt"></p>
    </div>
  </div>
  <script>
    // Constants
    var GOOGLE_CLIENT_ID = '{{ config["GOOGLE_CLIENT_ID"] }}'
    var GOOGLE_SCOPES = [{% for scope in config["GOOGLE_CLIENT_SCOPES"] %} '{{ scope }}', {% endfor %}]
    var LOGIN_URL = '{{ config["API_URL"] }}/login'

    // HTML elements
    var getTokenBtn = document.getElementById('getTokenBtn')
    var tokenTxt = document.getElementById('tokenTxt')
    var copyTokenBtn = document.getElementById('copyTokenBtn')
    var loadingTxt = document.getElementById('loadingTxt')
    var messageTxt = document.getElementById('messageTxt')
    var errorTxt = document.getElementById('errorTxt')

    // Vars
    var auth2 = null
    var token = ''
    var message = ''
    var errorMsg = ''

    /**
     * Gets a `token` from the server and copy it into the `tokenText` input.
     */
    getTokenBtn.addEventListener('click', function () {
      resetUI()

      auth2.signIn().then(function (user) {
        var userInfo = user.getAuthResponse()

        fetch(LOGIN_URL, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id_token: userInfo.id_token,
            access_token: userInfo.access_token
          })
        }).then(function (res) {
          return res.json()
        }).then(function (data) {
          token = data.token
          updateUI()
        }).catch(function (err) {
          errorMsg = err.message || 'Something went wrong while getting the token.'
          updateUI()
        })
      })
    })

    /**
     * Copy the `token` to the clipboard.
     */
    copyTokenBtn.addEventListener('click', function () {
      tokenTxt.select()
      document.execCommand("copy")
      message = 'Token copied to clipboard.'
      updateUI()
    })

    /**
     * Loads the Google Auth2 interface.
     * 
     * This function is executed when the Google API is ready to be used.
     */
    function onLoadApi() {
      window.gapi.load('auth2', function () {
        gapi.auth2.init({
          client_id: GOOGLE_CLIENT_ID,
          scope: GOOGLE_SCOPES.join(' ')
        }).then(function (auth) {
          auth2 = auth
          updateUI()
        }).catch(function () {
          errorMsg =
            'Unable to load auth2 library.\n\n' +
            'Check the following environment variables:\n' +
            'GOOGLE_CLIENT_ID\n' +
            'GOOGLE_SCOPES.'
          updateUI()
        })
      })
    }

    /**
     * Updates the User Interface.
     */
    function updateUI() {
      loadingTxt.style.display = errorMsg || auth2 ? 'none' : 'block'
      copyTokenBtn.disabled = !token

      tokenTxt.disabled = !token
      tokenTxt.innerText = token

      messageTxt.style.display = message ? 'block' : 'none'
      messageTxt.innerText = message

      errorTxt.style.display = errorMsg ? 'block' : 'none'
      errorTxt.innerText = errorMsg
    }

    /**
     * Resets the User Interface.
     */
    function resetUI() {
      message = ''
      errorMsg = ''
      updateUI()
    }

    updateUI()
  </script>
  <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){}; onLoadApi()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>


<form action="https://app.semaforo.tech/v1/login" method="post">
  <input type="submit" value="login">
</form>


</body></html?

</html>